@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b041a; 
}

#app {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.personagem {
    background-color: #96194f;
    border: 2px solid #1a355e;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
}

.personagem > h1 {
    color: rgb(17, 17, 17);
}

.acoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #57249e;
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.2s;
}

button:hover {
    background-color: #3d0525;
    transform: translateY(-3px);
}

button:active {
    transform: translateY(0px);
}

.barra-vida {
    height: 32px;
    background-color: #38b000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    margin-bottom: 16px;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px; 
    justify-content: center; 
}

.jogo {
    color: #f8f8f8;
    padding: 8px;
    margin: 4px;
    border-radius: 5px;
}

.botao_invisivel{
    padding: 20px;
    font-size: 20px;
}

.botao_visivel {
   
    display: none;
}